body {
  font-family: sans-serif;
  background-color: #bee5bf;
  color: #493657;
  padding: 20px;
}

header {
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-between;
  margin: 32px 16px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

ul li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  border: 3px solid #493657;
  padding: 4px 16px;
}

h2 {
  text-align: center;
}
